*{
  margin: 0;
  padding: 0;
  color: #ffff;
  background-color: #191919;

}
.App{
  width: 90%;
  margin: auto;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: transparent;
  width: 70%;
}

.bottom-right {
    border: solid #ffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background: transparent;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    bottom: 15px;
    right: 16px;
}

.item{
  position: relative;
  font-size: 19px;
}

img { 
  transition: 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #4A52FF;
}

.overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.title-text {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  background-color: transparent;
  width: 100%;
}

.desc-text {
  position: relative;
  top: 15px;
  margin-left: 10px;
  background-color: transparent;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical
}

@media screen and (min-width: 901px) {
  

.container{
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(13, 5vw);
  grid-gap: 20px;
  margin: 30px;
}

.button{
  grid-column: 11 / 12;
  grid-row: 9 / 10;
  background: #4A52FF;
  height: 37px;
  font-size: 19px;
  border-radius: 35px;
  border: none;
}



.message{
  grid-column: 1 / 5;
  grid-row: 2 / 2;
  justify-self: baseline;
  align-self: center;
  font-size: 30px;
}

.item-0{
  grid-column: 1 / 5;
  grid-row: 3 / 6;
}

.item-1{
  grid-column: 4 / 6;
  grid-row: 6 / 8;
}

.item-2{
  grid-column: 5 / 11;
  grid-row: 1 / 6;
}

.item-3{
  grid-column: 11 / 14;
  grid-row: 6 / 9;
}

.item-4{
  grid-column: 6 / 11;
  grid-row: 6 / 10;
}

.item-5{
  grid-column: 3 / 6;
  grid-row: 8 / 10;
}

.item-6{
  grid-column: 1 / 4;
  grid-row: 6 / 8;
}
}

@media screen and (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }

  .message{
    justify-self: baseline;
    align-self: center;
    font-size: 30px;
  }
  
  .item{
    grid-column: span 1;
    grid-row: span 1;
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }

  .message{
    justify-self: baseline;
    align-self: center;
    font-size: 30px;
  }
  
  .item{
    grid-column: span 1;
    grid-row: span 1;
    width: -webkit-fill-available;
  }
}